@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/b.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

header {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

span.error-msg {
    color: #ff0000;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.input-field {
    position: relative;
    margin-bottom: 15px;
}

.input-field .input {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1);
}

.input-field .input:focus {
    background: rgba(255, 255, 255, 0.2);
}

.input-field .input::placeholder {
    color: #fff;
}

.input-field .input + i {
    position: absolute;
    top: 14px;
    left: 18px;
    color: #fff;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.left {
    display: flex;
}

label a {
    color: #fff;
    text-decoration: none;
}
